.carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
    
}

.carousel-caption{
    top:30%;
    bottom: auto;
}

#introduccion{
    position: relative;
    background-image: linear-gradient(#F1F4F7, #FFFFFF);
    height: 700px;
    z-index: -1;
    
}



#titulo{
	float:left;
    font-size: 24px; 
    text-align: center;
	margin-top: 50px;
}
#descripcion-introduccion{
    float:left;
    margin-top: 50px;
    width: 45%;
}
.aside-noticias{
    align:right;
    margin-top: 55px;
    width: 30%;
    text-align: center;
} 




.texto-titulo{
    margin:0;
}

#sectores-style{
    height: 640px; 
    background-image: linear-gradient(#FFFFFF, #F1F4F7);
    position: relative;
    text-align: center;
    font-size: 24px;    
    margin: 0;
    z-index: 1;
} 



#imagen-introduccion{
    float:left;
    margin-top: 95px;
    width: 25%;
    text-align: center;
}


.subtitulo{
    color: #990000;
}

h1{
    font-size: 45px;
    color: #990000;
    font-weight: 700;

}

.texto{
    color:black;
}

.w-100{
   opacity: 0.7; 
}

.footer{
    text-align: center;
}

.m-0{
    font-size: 13px;
}

.icon {
  width: 13px;
  height: 13px;
  color: #990000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  background-color: grey;
}
.aside-noticias ul{
   margin-top: 0px;
   margin-right: 45px;
   margin-bottom: 0px;
   margin-left: 45px;
   padding-top: 10pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 0px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.aside-noticias li{
   border-top: 1px solid #d7d7d7;  
   border-bottom: 1px solid #d7d7d7;   
   border-left: 1px solid #d7d7d7;   
   border-right: 1px solid #d7d7d7;   
   border-radius: 15px;
   padding: 10px 0 10px 4px;
   font-size: 8pt;
   margin-top: 0px;
   margin-right: 0pt;
   margin-bottom: 0px;
   margin-left: 0pt;
   background-color: #343a40;
}

.aside-noticias h4{
   text-decoration: none;
   color: white;
   font-size:1.5em;
}

.aside-noticias h6{
   text-decoration: none;
   color: LightGrey     ;
   font-size: small;
}