#logo2{
    width:120px;
}

.nav-item > a{
    color: #990000; !important;
}

.dropdown-item{
    color: rgba(255,255,255,.5);
}

.dropdown-menu, .dropdown-item
{
    background-color: #343a40;
}

.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: rgba(0, 0, 0, 0);;
  border-color: #fff;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.enlace{
    color: #238A9D;
}

.enlace:hover{
    color: white;
}
/*ul li{
list-style-type:none;
display: inline;
}*/

/*.navbar-nav .nav-link{display:inline-block;}
   
.ml-auto {display:inline-block!important;}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}*/
