@font-face {
    font-family: "Marske";
    src: url(../Estilo/Fuentes/Marske.ttf) format('truetype');
}

@font-face {
    font-family: "Anurati";
    src: url(../Estilo/Fuentes/Anurati-Regular.otf) format('opentype');
}

@font-face {
    font-family: "Elianto";
    src: url(../Estilo/Fuentes/Elianto-Regular.ttf) format('truetype');
}


#bienvenida{
    position:static;
    background-image: url('../Imagenes/robothd.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#texto-ppal{
    font-family: Elianto;
    font-size: 4.5em;
    text-align: center;
    color: #990000;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

#sectores{
    height: 530px; 
    position: static;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(#FFFFFF,#F1F4F7);
    margin: 0;
} 

#introduccion{
    background-image: linear-gradient(#F1F4F7, #FFFFFF);
    height: 650px;
    
}

#titulo{
    font-size: 24px;
    text-align: center;
}

.texto-titulo{
    margin:0;
}

#imagen-introduccion{
    float:left;
    margin-top: 60px;
    width: 33%;
    text-align: center;
}

#descripcion-introduccion{
    float:left;
    margin-top: 60px;
    width: 60%;
}

p{
    text-align: justify;
}

#subtitulo{
    color: #73777A;
}