@font-face{
    font-family: "Ultra";
    src: url(../Estilo/Fuentes/Ultra.otf) format('opentype');
}

@font-face {
    font-family: "Ailerons";
    src: url(../Estilo/Fuentes/Ailerons-Typeface.otf) format('opentype');
}

body {
    background-color: #FFF1F6;  /* color de fondo */
    font-family: 'Raleway', sans-serif;
    margin = 0;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
  /*  background-image: linear-gradient(#339999,black);*/
    /*#F3F4F7*/
    
     background-image: linear-gradient(white,black);
}

ul.menu {
    list-style: none; /*para ocultar los puntos de la lista */
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 60%;
    overflow: hidden;
    
}

ul.menu li{
    background: #294A55;
    float: left;    
    margin-top: 163px;
   
}

ul.menu li a{
    color: white;
    display: block;
    padding: .3em;
    text-decoration: none;
    border-left: 1.2px solid black;
    border-right: 1.2px solid black;
}

#logo {
    float: left;
    width:150px;
    height:141px;
    margin-top: 30px;
    margin-left: 3%;
}

#logo2{
    float:inherit;
}

.active{
    background: #990000;
}

ul.menu li a:hover:not(.active) {
    opacity: 100;
    background-color: #BAD8F1;
    color: #294A55;
} 




/*
#titulo {
    font-family: Ultra   ;
    margin-left: 35%; 
    margin-top: 0%;
    position align-items: center;
    font-size: 100px;

} */